      html{
            font-size:15px; 
        }
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            background: var(--color-bg);
        }
        