.hero {
    height: 500px;
    /background-color: #e09352;
}
.hero-bg {
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, #fff042, rgb(239, 168, 7));
    position: absolute;
    z-index: -1;
}
.hero-fg {
    /background-color: #ba9058;
    height: 100%;
    display: flex;
}
.hero-fg-text {
    /background-color: rgba(255, 213, 118, 0.86);
    padding: var(--space-m);
    flex: 1;
}
.hero-fg-h2 {
    font-size: 25px;
    text-align: center;
    color: #7e4903;
}
.hero-fg-p {
    font-size: 20px;
    text-align: center;
    color: #c67100;
}
.hero-fg-btns {
    / background-color: #db9f4f;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: var(--space-m);
}
.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.hero-fg-pbtn {
    / background-color: #fff042;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #aa6f00;
    border-radius: 10px;
}
.hero-fg-sbtn {
    /background-color: #fff042;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #e09352;
    border-radius: 10px;
}
.hero-fg-imgs {
    background-color: #f0ffb2;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-fg-img-1 {
    background-color: #ffe7c5;
    height: 80%;
    width: 90%;
    margin-bottom: 6.6rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.hero-fg-info {
    /background-color: #ebb779;
    width: 50%;
    height: 100%;
    text-decoration: none;
}
.button-info {
    /background-color: #ebb779;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
